@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

.strikeThrough {
  text-decoration: line-through;
}

.author {
  color: transparent;
  transition: all 1s;
  animation: fadeIn ease 2s;
}

.quote:hover .author {
  color: unset
}

  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
.clock{
  font-size: 4.5rem;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 1px  black;
}
.clock-text{
  font-size: 2rem;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 1px  black;
}




body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}



